<link rel="stylesheet" href="css/style.css" />

<div class="container">
    <h1>Shared Activities</h1>
    <h2>{{name}}, Join your friend's activities</h2>
        <div class="row">

            {{#if Activities.length}}
            <div class="col-md-4 col-sm-12 activity-list">
                <div class="figure" style="max-width:100%; height:auto;">
                    {{#each Activities as |activity|}}
                    <a href="/activity/{{activity.id}}">{{activity.name}}</a>
                        <div class="strImg">
                            {{{get_strImg activity.activity_type}}}
                        </div>
                </div>
                    <h4>activity:{{name}}</h4>
                    <h5>creator:{{activity.user.name}}</h5>
                    <h6>activity type:{{{activity.activity_type}}}</h6>
                    <p class="entry">{{activity.description}}</p>

                <form class="form login-form ">
                    <div class="form-group p-2">
                        <label for="comment">comments/join:</label>
                        <br>
                        <input class="form-input" type="text" id="comment" />
                    </div>

                    <div class="form-group p-2 mb-4">
                        <button class="btn btn-primary post" type="submit">post</button>
                        <button class="btn btn-sm btn-danger" data-id="{{activity.id}}">Remove this Activity</button>
                    </div>    
                </form>
                </div>
        </div>
    {{/each}}
</div>
{{/if}}