<link rel="stylesheet" href="css/style.css"/>

<section id="activity">
    <div class="container">
        <h2 class="profile-name" id="profile-name">{{name}}</h2>
<div style="margin-left: 0%">
<img
    class="profilestyle"
    src="{{userImage}}"
    alt="profileimg"
/>
<form
    action="/api/account"
    enctype="multipart/form-data"
    method="post"
    style="margin-top: 10px"
>
    <label
    class="custombutton"
    id="custombutton"
    style="width:200px;border: 1px solid #ccc;display: inline-block; padding: 6px 12px;cursor: pointer;"
    >
    <input
        type="file"
        name="myFile"
        accept="image/*"
        style=" display: none;"
        onchange="document.getElementById('custombutton').style.border = '2px solid lightblue'"/>
    Select new file </label>
    <input
    type="submit"
    value="Upload"
    style="border: 1px solid #2d2d2d; padding: 6px 12px; cursor: pointer; background-color: #2d2d2d; color: #ccc"/>
    </form>
</div>
<div style="text-align: center;">
<h3
    style="background-color: whitesmoke; padding: 10px; border-radius: 5px; border: 1px solid lightgray">
    {{name}}'s' Friends</h3>
{{!-- {{#each user.friendsList}}
    <p>
    {{this.friendName}}
    </p>
{{/each}} --}}
</div>


<section id="activity">
    <div class="container">
        <h1>Shared Activities</h1>
        <h2>{{name}}, Join your friend's activities</h2>
            <div class="row">
                {{#if activities.length}}
                {{#each activities as |activity|}}
                    <div class="col-md-4">
                        <div class="img-fluid">
                            <a href="/activity/{{activity.id}}">{{activity.name}}</a>
                                <div class="strImg">
                                    <img class="img-fluid"{{{get_strImg activity.activity_type}}}>
                                </div>
                                    <h4>Creator: {{activity.user.name}}</h4>
                                    <h5>Activity type: {{{activity.activity_type}}}</h5>
                                    <h6>Activity: {{name}}</h6>
                                    <p class="entry">{{activity.description}}</p>
                                    <form class="form login-form">
                                        <div class="form-group p-2">
                                            <label for="comment">comments/join:</label>
                                            <br>
                                            <input class="form-input" type="text" id="comment-act" />
                                        </div>
                                        <div class="form-group p-2 mb-4 post-button">
                                            <button class="btn btn-primary post" data-id="{{activity.id}}" type="submit">Post</button>
                                        </div>    
                                    </form>
                        </div>
                    </div>
                {{/each}}
            </div>
    </div>
{{/if}}
</section>

{{#if activities.length}}
<section id="activity">
    <div class="container">
        <h1>User Profile</h1>
        <h2>{{name}}, Post your activities</h2>
            <div class="row">

                <div class="col-10">
                    <div class="row">
                        {{#each activities as |activity|}}
                        <div class="col-md-4">
                            <div class="img-fluid">
                                <a href="/activity/{{activity.id}}">{{activity.name}}</a>
                                    <div class="strImg">
                                    <img class="img-fluid"{{{get_strImg activity.activity_type}}}>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 activity-list">
                            <h4>Activity type: {{{activity.activity_type}}}</h4>
                                <h5>Creator: {{activity.user.name}}</h5>
                                <h6>Activity: {{name}}</h6>
                                <p class="entry">{{activity.description}} </p>
                                <button class="btn btn-sm btn-danger" data-id="{{activity.id}}">Remove this Activity</button>
                        </div> 
                        <hr/>
                        {{/each}} 
                    </div>
                </div>
                {{/if}}

                <div class="col-md-2 col-sm-12">
                    <div class="row">

                        <h4>Share Activity</h4>

                        <form class="form activity-form ">
                            <div class="form-group p-2">
                                <label for="activity-name">enter activity:</label>
                                <br>
                                <input class="form-input" type="text" id="activity-n" />
                            </div>

                            <div class="form-group p-2">
                                <label for="activity-type">Type of Activity:</label>
                                <select id="activity-t" name="type">
                                <option value="Flexibility">Flexibility</option>
                                <option value="Strength">Strength</option>
                                <option value="Aerobic">Aerobic</option>
                                </select>
                            </div>

                            <div class="form-group p-2">
                                <label for="activity-description">Activity Description:</label>
                                <br>
                                <input class="form-input" type="text" id="activity-d"/>
                            </div>

                            <div class="form-group p-2 mb-4">
                                <button class="btn btn-primary post" type="submit">Post Activity</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
    </div>
</section>

<section id="create-goal">
    <div class="container">
            <h2>Create a Personal Goal</h2></span>
        <div class="row">

            <div class="col-10">
                <div class="row">
                    {{#if goals.length}}
                    {{#each goals as |goal|}}
                    <div class="col-md-4">
                        <div class="img-fluid">
                            <a href="/goals/{{goal.id}}">{{goal.name}}</a>
                                <div class="goalImg">
                                <img class="img-fluid" src="http://localhost:3001/images/goalsmain.jpg" alt="${gtype}">
                                </div>
                                    <h4>Goal: {{name}}</h4>
                                    <h5>Creator: {{goal.user.name}}</h5>
                                    <h6>Goal type: {{{goal.goal_type}}}</h6>
                                    <p class="entry">{{goal.motivation}}</p>
                                    <form class="form login-form">
                                        <div class="form-group p-2">
                                            <label for="comment">Comment:</label>
                                            <br>
                                            <input class="form-input" type="text" id="comment" />
                                        </div>
                                        <div class="form-group p-2 mb-4 button">
                                            <button class="btn btn-primary post" type="submit">Post</button>
                                            <button class="btn btn-primary btn-danger removethisgoal" data-id="{{goal.id}}">Remove this Goal</button>
                                        </div>
                                    </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}

                    <div class="col-md-2 col-sm-12">
                        <div class="row">
                            <h4>Personal Goal</h4>
                            <form class="form goals-form ">
                                <div class="form-group p-2">
                                    <label for="goal-name">Goal Name:</label>
                                    <br>
                                    <input class="form-input" type="text" id="goals-n" />
                                </div>
                                <div class="form-group p-2">
                                <label for="goals-type">Choose a type:</label>
                                    <select id="goals-t" name="goaltype">
                                        <option value="Stamina">stamina</option>
                                        <option value="Strength">strength</option>
                                        <option value="Diet">diet</option>
                                        <option value="Core">core</option>
                                    </select>
                                </div>
                                <div class="form-group p-2">
                                    <label for="motivation">Motivation:</label>
                                    <br>
                                    <input class="form-input" type="text" id="goals-m" />
                                </div>
                                <div class="form-group p-2 mb-4">
                                    <button class="btn btn-primary enter" type="submit">enter goal</button>
                                </div>    
                            </form>
                        </div>
                    </div>
        </div>
    </div>
</section>

<section id="cheat-day">
<div class="container">
    <div class="row">
    <h1>Cheat-Day</h1>
    <h2>How to make good choices</h2>
    <div class="row">

        <div class="col-md-4 col-sm-12">
            <div class="figure">
                <img src="images/cheesecake.jpg" class="figure-img img-fluid rounded clearfix" alt="Cheesecake" >
                    <h6>High fat desserts</h6>
            </div>
        </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="figure">
                            <img src="images/pizza.jpg" class="figure-img img-fluid rounded clearfix" alt="Pizza" >
                                <h6>Alternative carbs.</h6>
                            </div>
                        </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="figure">
                                        <img src="images/sushi.jpg" class="figure-img img-fluid rounded clearfix" alt="Sushi" >
                                            <h6>High protein with carbs.</h6>
                                        </div>
                                    </div>
                                <br/>
    </div>
</div>
</section>

<script src='./js/account.js'></script>
<script src='./js/goals.js'></script>
