
<link rel="stylesheet" href="public\css\style.css">

    <h2>{{name}}, here is your account:</h2>


  {{#if Activities.length}}
  <div class="col-md-6 activity-list">
    <h3>Your Subscribed Activities:</h3>

    {{#each Activities as |activity|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/activity/{{activity.id}}">{{activity.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{activity.id}}">Remove this Activity</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<section id="activity">
    <div class="container">
        <h1>Shared Activities</h1>
        <h2>Join your friend's activities</h2>
        <div class="row">

            <div class="col-md-4 col-sm-12">
                <div class="figure">
                    <img src="../public/images/run.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                        <h4>activity:</h4>
                        <h5>creator:</h5>
                        <h6>date/time:</h6>
                            <p class="entry"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque, provident explicabo quis dolor neque laboriosam ullam pariatur fuga in omnis doloremque quidem, minus earum perspiciatis officia expedita ut voluptatem.
                            </p>
                            <form class="form login-form ">
                                <div class="form-group p-2">
                                    <label for="comment">comments/join:</label>
                                    <br>
                                    <input class="form-input" type="text" id="comment" />
                                </div>
                                <div class="form-group p-2 mb-4">
                                    <button class="btn btn-primary post" type="submit">post</button>
                                </div>    
                            </form>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="figure">
                    <img src="../public/images/bike.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                        <h4>activity:</h4>
                        <h5>creator:</h5>
                        <h6>date/time:</h6>
                            <p class="entry"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque, provident explicabo quis dolor neque laboriosam ullam pariatur fuga in omnis doloremque quidem, minus earum perspiciatis officia expedita ut voluptatem.
                            </p>
                            <form class="form comment-form ">
                                <div class="form-group p-2">
                                    <label for="comment">comments/join:</label>
                                    <br>
                                    <input class="form-input" type="text" id="comment" />
                                </div>
                                <div class="form-group p-2 mb-4">
                                    <button class="btn btn-primary post" type="submit">post</button>
                                </div>    
                            </form>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="figure">
                    <img src="../public/images/yoga.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                        <h4>activity:</h4>
                        <h5>creator:</h5>
                        <h6>date/time:</h6>
                            <p class="entry"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque, provident explicabo quis dolor neque laboriosam ullam pariatur fuga in omnis doloremque quidem, minus earum perspiciatis officia expedita ut voluptatem.
                            </p>
                            <form class="form comment-form ">
                                <div class="form-group p-2">
                                    <label for="comment">comments/join:</label>
                                    <br>
                                    <input class="form-input" type="text" id="comment" />
                                </div>
                                <div class="form-group p-2 mb-4">
                                    <button class="btn btn-primary post" type="submit">post</button>
                                </div>    
                            </form>
                </div>
            </div>
    </div>
</section>

<section id="profile">
    <div class="container">
        <h1>User Profile</h1>
        <h2>Post Your Activities</h2>
        <div class="row">

            <div class="col-10">
                <div class="row">

{{activities}}

                    {{!-- <div class="col-md-4 col-sm-12">
                        <div class="figure">
                            <img src="../public/images/lifting.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 ">
                        <h4>activity:</h4>
                        <h5>creator:</h5>
                        <h6>date/time:</h6>
                            <p class="entry"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque, provident explicabo quis dolor neque laboriosam ullam pariatur fuga in omnis doloremque quidem, minus earum perspiciatis officia expedita ut voluptatem.
                            </p>
                    </div>
                    <hr/>
                    <div class="col-md-4 col-sm-12">
                        <div class="figure">
                            <img src="../public/images/hike.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <h4>activity:</h4>
                        <h5>creator:</h5>
                        <h6>date/time:</h6>
                            <p class="entry"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque, provident explicabo quis dolor neque laboriosam ullam pariatur fuga in omnis doloremque quidem, minus earum perspiciatis officia expedita ut voluptatem.
                            </p>
                    </div>
                    <hr/>

                    <div class="col-md-4 col-sm-12">
                        <div class="figure">
                            <img src="../public/images/swim.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 ">
                        <h4>activity:</h4>
                        <h5>creator:</h5>
                        <h6>date/time:</h6>
                            <p class="entry"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque, provident explicabo quis dolor neque laboriosam ullam pariatur fuga in omnis doloremque quidem, minus earum perspiciatis officia expedita ut voluptatem.
                            </p>
                    </div>
                    <hr/>
                    <div class="col-md-4 col-sm-12">
                        <div class="figure">
                            <img src="../public/images/dance.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <h4>activity:</h4>
                        <h5>creator:</h5>
                        <h6>date/time:</h6>
                            <p class="entry"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque, provident explicabo quis dolor neque laboriosam ullam pariatur fuga in omnis doloremque quidem, minus earum perspiciatis officia expedita ut voluptatem.
                            </p>
                    </div>
                    <hr/> --}}

                </div>
            </div>

                <div class="col-md-2 col-sm-12">
                    <div class="row">
                        <h4>Shared Activity</h4>
                        <form class="form activity-form ">
                            <div class="form-group p-2">
                                <label for="activity">enter activity:</label>
                                <br>
                                <input class="form-input" type="text" id="activity" />
                            </div>
                            <div class="form-group p-2">
                                <label for="activity-name">creator name:</label>
                                <br>
                                <input class="form-input" type="password" id="activity-name" />
                            </div>
                            <div class="form-group p-2">
                                <label for="activity-date">date/time:</label>
                                <br>
                                <input class="form-input" type="password" id="activity-date" />
                            </div>
                            <div class="form-group p-2">
                                <label for="activity-details">event details:</label>
                                <br>
                                <input class="form-input" type="password" id="activity-details" />
                            </div>

                            <div class="form-group p-2 mb-4">
                                <button class="btn btn-primary post" type="submit">post activity</button>
                            </div>
                        </form>

                        <h4>Search Friends</h4>
                        <form class="form friend-form ">
                            <div class="form-group p-2">
                                <label for="friend">enter friend username:</label>
                                <br>
                                <input class="form-input" type="text" id="search" />
                            </div>
                            <div class="form-group p-2 mb-4">
                                <button class="btn btn-primary request" type="submit">request</button>
                            </div>
                        </form>

                        <h4>Pending Invites</h4>
                        <form class="form accept-form ">
                            <h6>invite #1:</h6>
                            <div class="form-group p-2 mb-2">
                                <button class="btn btn-dark accept" type="submit">accept</button>
                            </div>
                        </form>

                        <form class="form accept-form ">
                            <h6>invite #2:</h6>
                            <div class="form-group p-2 mb-2">
                                <button class="btn btn-dark accept" type="submit">accept</button>
                            </div>
                        </form>
                    </div>
                </div>

        </div>
    </div>
</section>

<section id="create-goal">
    <div class="container">
            <h2>Create a Personal Goal</h2></span>
        <div class="row">

                <div class="col-10">
                    <div class="row">

{{goals}}

                        {{!-- <div class="col-md-4">
                            <div class="figure">
                                <img src="../public/images/g-strength.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                            </div>
                                <h5>goal:</h5>
                                <h6>start date:</h6>
                                <p>motivation:</p>
                        </div>

                        <div class="col-md-4">
                            <div class="figure">
                                <img src="../public/images/g-water.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                            </div>
                                <h5>goal:</h5>
                                <h6>start date:</h6>
                                <p>motivation:</p>
                        </div>

                        <div class="col-md-4">
                            <div class="figure">
                                <img src="../public/images/g-core.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                            </div>
                                <h5>goal:</h5>
                                <h6>start date:</h6>
                                <p>motivation:</p>
                        </div>

                        <div class="col-md-4">
                            <div class="figure">
                                <img src="../public/images/g-diet.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                            </div>
                                <h5>goal:</h5>
                                <h6>start date:</h6>
                                <p>motivation:</p>
                        </div>

                        <div class="col-md-4">
                            <div class="figure">
                                <img src="../public/images/g-balance.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                            </div>
                                <h5>goal:</h5>
                                <h6>start date:</h6>
                                <p>motivation:</p>
                        </div>

                        <div class="col-md-4">
                            <div class="figure">
                                <img src="../public/images/g-weight.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
                            </div>
                                <h5>goal:</h5>
                                <h6>start date:</h6>
                                <p>motivation:</p>
                        </div> --}}

                    </div>
                </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="row">
                            <h4>Personal Goal</h4>
                            <form class="form login-form ">
                                <div class="form-group p-2">
                                    <label for="goal-title">enter goal:</label>
                                    <br>
                                    <input class="form-input" type="text" id="goal-title" />
                                </div>
                                <div class="form-group p-2">
                                    <label for="goal-date">date:</label>
                                    <br>
                                    <input class="form-input" type="password" id="goal-date" />
                                </div>
                                <div class="form-group p-2">
                                    <label for="motivation">motivation:</label>
                                    <br>
                                    <input class="form-input" type="password" id="goal-motivation" />
                                </div>
                                <div class="form-group p-2 mb-4">
                                    <button class="btn btn-primary enter" type="submit">enter goal</button>
                                </div>    
                            </form>
                        </div>
                    </div>
                        
            </div>
        </div>
    </section>

<section id="cheat-day">
<div class="container">
    <div class="row">
    <h1>Cheat-Day</h1>
    <h2>How to make good choices</h2>
    <div class="row">

        <div class="col-md-4 col-sm-12">
            <div class="figure">
                <img src="../public/images/cheesecake.jpg" class="figure-img img-fluid rounded clearfix" alt="Cheesecake" >
                    <h6>High fat desserts</h6>
            </div>
        </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="figure">
                            <img src="../public/images/pizza.jpg" class="figure-img img-fluid rounded clearfix" alt="Pizza" >
                                <h6>Alternative carbs.</h6>
                            </div>
                        </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="figure">
                                        <img src="../public/images/sushi.jpg" class="figure-img img-fluid rounded clearfix" alt="Sushi" >
                                            <h6>High protein with carbs.</h6>
                                        </div>
                                    </div>
                                </div>
    </div>
</div>
</section>
