<h6>THIS IS THE ACTIVITIES VIEW</h6>

{{#each activities as |activity| }}
<div class="row mb-4 activity">
  <div class="col-md-5">
    <h2>
      <a href="/activity/{{activity.id}}">{{activity.name}}</a>
    </h2>
    <div class="strImg">
        {{{get_strImg}}}
  </div>

    <p>Created by {{activity.user.name}}</p>
  </div>
<p>Description:</p>
    <p>
      {{activity.description}}
    </p>

</div>
  {{/each}}

